<div class="sidebar-content">
  <mat-list>
    <h3 matSubheader>Manage Orders</h3>

    <mat-list-item>
      <a href>All Orders</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <a href>Refunds</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <a href>My Coupons</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <a href>Shipping Address</a>
    </mat-list-item>
  </mat-list>
  <div class="box-card" style="max-width: 240px; width: 100%;" fxLayout="column" fxLayoutAlign="center center">

      <img src="assets/images/qr.png">
  
      <div class="qr-title p-16">
          <div class="h1">BieeBox App</div>
          <div class="h4 secondary-text">scan or click</div>
      </div>
  
  </div>
</div>