<div id="content-below">
  <div class="dark-layout">
    <div class="container">
      <section class="border-b">
        <div class="row footer-theme2">
          <div class="col-lg-3">
            <div class="footer-title footer-mobile-title">
              <h4>about</h4>
            </div>
            <div class="footer-contant">
              <div class="footer-logo" id="footerlogo">
                <img src="assets/multicart/images/icon/footerlogo.png" alt="">
              </div>
              <app-information></app-information>
            </div>
          </div>
          <div class="col-lg-6 subscribe-wrapper">
            <div class="subscribe-block">
              <h2>newsletter</h2>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Enter your email">
                  <button type="submit" class="btn btn-solid ">subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-title">
              <h4>store information</h4>
            </div>
            <div class="footer-contant">
              <ul class="contact-details">
                <li>Multikart Demo Store, Demo store
                  India 345-659</li>
                <li>Call Us: 123-456-7898</li>
                <li>Email Us: <a href="#">Support@Fiot.com</a></li>
                <li>Fax: 123456</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="dark-layout">
    <div class="container">
      <section class="small-section">
        <div class="row footer-theme2">
          <div class="col p-set">
            <div class="footer-link">
              <app-categories></app-categories>
            </div>
            <div class="footer-link-b">
              <app-why-we-choose></app-why-we-choose>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="sub-footer darker-subfooter">
    <div class="container">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>