<section id="newly-added" class="tools-grey">
  <div class="container">
    <div *ngFor="let e of (showcaseState | async).errors">
      <div *ngIf="e.errorEffect == 'FETCH_NEWLY_ADDED'" class=" col-md-12 alert-warning">
        <div *ngIf="e.error.status === 400 || e.error.status === 401 ">Problem loading products...</div>
        <div *ngIf="e.error.status === 500 || e.error.status === 0 ">Internal server error! Please contact our support
          team.
        </div>
      </div>
    </div>
    <p-carousel headerText="newly added" [value]="(showcaseState | async).newlyAdded" [circular]="true" [numVisible]="6"
      [pageLinks]="3">
      <ng-template let-product pTemplate="item">
        <a [routerLink]="['/shop/product',product.id]" routerLinkActive="active">
          <product-box [product]="product" [mode]="'popular'"></product-box>
        </a>
      </ng-template>
    </p-carousel>
  </div>
</section>