// .section-b-space {
//     padding-bottom: 20px !important;
// }

.timer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
}

.banner-timer {
    margin: 0px;
}

#content-below {
    li {
        display: inline-block !important;
    }
}

section,
.section-t-space {
  padding-top: 40px !important;
}

.section-b-space {
    padding-bottom: 40px !important;
}

footer {
    margin: 0px;
}