<div class="container-wrapper header-with-search-wrapper" [ngClass]="boxConfig.layout.header.primaryBackground">
    <div class="container header-with-search">
        <a routerLink="/home" routerLinkActive="active" class="header-with-search__logo-section" fxHide fxShow.gt-xs>
            <img src="assets/zezawar.svg" alt="">
        </a>
        <box-search class="header-with-search__search-section" [url]="currentUrl" [defaultKeywords]="defaultKeywords"
            [boxConfig]="boxConfig" [keywords]="keywords$ | async" [query]="searchQuery$ | async"
            [searching]="loading$ | async" [error]="error$ | async" (search)="search($event)"
            (summit)="onSummit($event)"></box-search>
        <div class="header-with-search__cart-wrapper" fxHide fxShow.gt-xs>
            <div class="box-drawer">
                <div class="cart-drawer-container">
                    <div class="cart-drawer flex v-center">
                        <div class="drop">
                            <a href routerLink="/checkout" routerLinkActive="active" class="cart-button"
                                mat-icon-button>
                                <i class="pi pi-shopping-cart fas" matBadge="{{cartItemCount}}" matBadgePosition="after"
                                    matBadgeColor="warn"
                                    *ngIf="isAuthenticated() && (cartState | async).cart.cartItemLists?.length>0;else noauth"></i>
                                <ng-template #noauth>
                                    <i class="pi pi-shopping-cart fas"></i>
                                </ng-template>
                            </a>
                            <div class="pPanel"
                                *ngIf="isAuthenticated() && (cartState | async).cart.cartItemLists?.length>0">
                                <div class="inner cart-container" boxPerfectScrollbar>
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget ">
                                            <li *ngFor="let cartItem of (cartState | async).cart.cartItemLists">
                                                <a href class="remove" title="Remove this item"
                                                    (click)="remove($event,item)">×</a>
                                                <a href class="product-title" (click)="onCart($event)">
                                                    <img src="{{ cartItem.product.photo }}" alt=""
                                                        *ngIf="cartItem.product.photo;else noimage">
                                                    <ng-template #noimage>
                                                        <img src="assets/images/noimage.png" alt="no image preview">
                                                    </ng-template>
                                                    {{cartItem.product.productName}}
                                                </a>
                                                <span class="color-variations">Blue</span>
                                                <span class="quantity">{{cartItem.amount}} ×
                                                    <span
                                                        class="amount">{{cartItem.product.unitPrice | currency:'USD' }}</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <!-- end product list -->
                                        <p class="total">
                                            <strong>Subtotal:</strong>
                                            <span
                                                class="amount">{{(cartState | async).cart.totalPrice | currency:'USD'}}</span>
                                        </p>
                                        <p class="buttons">
                                            <a href [routerLink]="['/checkout']" routerLinkActive="active"
                                                class="button wc-forward">View Cart</a>
                                            <a href [routerLink]="['/checkout']" routerLinkActive="active"
                                                class="button checkout wc-forward">Checkout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>