<div class="container-wrapper header-with-search-wrapper">
    <div class="container header-with-search">
        <a routerLink="/pages/home" routerLinkActive="active" class="header-with-search__logo-section" fxHide
            fxShow.gt-xs>
            <img src="assets/zezawar.svg" class="page-logo" alt="">
        </a>
        <box-search class="header-with-search__search-section" [url]="currentUrl" [defaultKeywords]="defaultKeywords"
            [keywords]="keywords$ | async" [query]="searchQuery$ | async" [searching]="loading$ | async"
            [error]="error$ | async" (search)="search($event)" (summit)="onSummit($event)"></box-search>
        <div class="header-with-search__cart-wrapper" fxHide fxShow.gt-xs>
            <div class="box-drawer">
                <div class="cart-drawer-container">
                    <div class="cart-drawer flex v-center">
                        <div class="drop">
                            <a href routerLink="/pages/cart" routerLinkActive="active" class="cart-button"
                                mat-icon-button matBadge="{{totalCount}}" matBadgePosition="after" matBadgeColor="warn">
                                <!-- <mat-icon class="fas">shopping_cart</mat-icon> -->
                                <i class="material-icons fas">
                                    shopping_cart
                                </i>
                            </a>
                            <div class="pPanel" *ngIf="items?.length>0 && (currentUrl !== '/pages/cart')">
                                <div class="inner cart-container" boxPerfectScrollbar>
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget ">
                                            <li *ngFor="let item of items;let i=index">
                                                <a href class="remove" title="Remove this item"
                                                    (click)="remove($event,item)">×</a>
                                                <a href class="product-title" (click)="onCart($event)">
                                                    <img src="{{ item.image }}" alt="" *ngIf="item.image else noimage">
                                                    <ng-template #noimage>
                                                        <img src="assets/devita/img/no_photo.jpg"
                                                            alt="no image preview">
                                                    </ng-template>
                                                    {{item.name}}
                                                </a>
                                                <span class="color-variations">Blue</span>
                                                <span class="quantity">{{item.quantity}} ×
                                                    <span class="amount">{{item.price | currency:'USD' }}</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <!-- end product list -->
                                        <p class="total">
                                            <strong>Subtotal:</strong>
                                            <span class="amount">{{cost | currency:'USD'}}</span>
                                        </p>
                                        <p class="buttons">
                                            <a href [routerLink]="['/pages/cart']" routerLinkActive="active"
                                                class="button wc-forward">View Cart</a>
                                            <a href [routerLink]="['/pages/checkout']" routerLinkActive="active"
                                                class="button checkout wc-forward">Checkout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>