<section id="brand-zone">
  <div class="viwer-area">
    <div class="container">
      <div class="viwer-title">
        <div class="viwer-title-spacer title">
          Featured Brand
        </div>
        <!-- <a routerLink="/pages/shop" routerLinkActive="active">see all
        <i class="ion-ios-arrow-forward"></i>
      </a> -->
        <button mat-icon-button color="warn" routerLink="/pages/shop">
          <span>see all</span>
          <mat-icon>select_all</mat-icon>
        </button>
      </div>
      <!-- <div class="viwer-body">
      <div class="content">
        <div class="cards">
          <div class="card" *ngFor="let brand of brands">
            <a routerLink="/pages/shop" routerLinkActive="active">
              <div class="card-preview">
                <div class="box-card cag">
                  <img src="assets/devita/img/brands/{{brand.icon}}.png">
                  <div class="title p-2 line-height-1.75">
                    {{brand.title}}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div> -->
      <div class="content">
        <div class="cards">
          <div class="card" *ngFor="let brand of brands">
            <a routerLink="/pages/shop" routerLinkActive="active">
              <div #boxcag class="card-preview">
                <div class="box-card brand-list">
                  <img src="assets/devita/img/brands/{{brand.icon}}.png">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>