<section id="seller-products">
    <div class="viwer-area">
        <div class="viwer-title">
            <div class="viwer-title-spacer title">
                seller products
            </div>
            <button mat-icon-button color="warn" routerLink="/pages/shop">
                <span>see all</span>
                <mat-icon>select_all</mat-icon>
            </button>
        </div>
        <div class="viwer-body">
            <div class="content">
                <div class="cards">
                    <div class="card product-box" *ngFor="let item of products | slice:0:18">
                        <a [routerLink]="['/shop/product',item.id]" routerLinkActive="active">
                            <div #productcard class="card-preview">
                                <product-card [product]="item"></product-card>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>