<section id="flash-deals" class="tools-grey">
  <div class="container">
    <div class="viwer-wrapper">
      <div class="viwer-title">
        <div class="viwer-title-spacer">
          <!-- <span class="title">flash deals
            <i class="ion-flash"></i>
          </span> -->
          <span class="countdown">{{countdown.days}}</span>
          <span class="countdown">{{countdown.hours}}</span>
          <span class="countdown">{{countdown.minutes}}</span>
          <span class="countdown">{{countdown.seconds}}</span>
        </div>
        <!-- <button mat-icon-button color="warn" (click)="onPrevClick($event);">
                <mat-icon aria-label="nav left">arrow_left</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onNextClick($event);">
                <mat-icon aria-label="nav right">arrow_right</mat-icon>
              </button> -->
        <button mat-icon-button color="warn" routerLink="/pages/shop">
          <span>see all</span>
          <mat-icon>select_all</mat-icon>
        </button>
      </div>
      <div class="viwer-body">
        <div class="title3">
          <h2 class="title-inner3">Flash Deals</h2>
          <div class="line"></div>
        </div>
        <p-carousel [value]="products | slice:0:18" [circular]="true" [numVisible]="6" [pageLinks]="3">
          <ng-template let-product pTemplate="item">
            <product-box [product]="product"  [mode]="'deal'"></product-box>
          </ng-template>
        </p-carousel>
      </div>
    </div>

  </div>
</section>