<section id="flash-deals" class="tools-grey">
  <div class="container">
    <div class="viwer-wrapper">
      <div class="viwer-title">
        <div class="viwer-title-spacer">
          <!-- <span class="title">flash deals
            <i class="ion-flash"></i>
          </span> -->
          <span class="countdown">{{countdown.days}}</span>
          <span class="countdown">{{countdown.hours}}</span>
          <span class="countdown">{{countdown.minutes}}</span>
          <span class="countdown">{{countdown.seconds}}</span>
        </div>
        <!-- <button mat-icon-button color="warn" (click)="onPrevClick($event);">
                <mat-icon aria-label="nav left">arrow_left</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onNextClick($event);">
                <mat-icon aria-label="nav right">arrow_right</mat-icon>
              </button> -->
        <button mat-icon-button color="warn" routerLink="/pages/shop">
          <span>see all</span>
          <mat-icon>select_all</mat-icon>
        </button>
      </div>
      <div class="viwer-body">
        <div class="content">
          <div class="cards">
            <div class="title3">
              <h2 class="title-inner3">Flash Deals</h2>
              <div class="line"></div>
            </div>
            <ngx-slick-carousel class="product-5 product-m slick-button-override" #slickModal="slick-carousel" [config]="productSlideConfig">
              <div ngxSlickItem class="product-box product-wrap" *ngFor="let product of products | slice:0:16">
                <product-box-hover [product]="product"></product-box-hover>
              </div>
            </ngx-slick-carousel>
            <!-- <owl-carousel #owlFlashDeals class="flash-deals-slider" [options]="carousel.popular.options" [carouselClasses]="['owl-theme']">
                    <div class="card" *ngFor="let item of products | slice:0:10">
                      <a [routerLink]="['/pages/shop',item.id]" routerLinkActive="active">
                        <div #productcard class="card-preview">
                          <product-card [stockItem]="item"></product-card>
                        </div>
                      </a>
                    </div>
                  </owl-carousel> -->
            <!-- <carousel-slider #carousel [products]="stockItems | slice:0:10"></carousel-slider> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>