<div class="container">
    <section id="slider-banner" class="p-0">
        <div class="main-banner">           
            <div class="p-grid p-nogutter">
                <div class="p-col-12 p-sm-12 p-lg-4 sub-banner-wrapper" fxHide fxShow.gt-md>
                    <div class="p-grid p-nogutter sub-banner">
                        <div class="p-col-12">
                            <a href="#">
                                <div class="sub-banner1"></div>
                            </a>
                        </div>
                        <div class="p-col-12">
                            <a href="#">
                                <div class="sub-banner2"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-sm-12 p-lg-8 main-banner-wrapper">
                    <owl-carousel #owlElement class="owl-dot-style-2" [options]="carousel.banner2.options" [carouselClasses]="['owl-theme']">
                        <div class="main-slider" *ngFor="let banner of carousel.banner2.slides;let i = index">
                            <a href="#">
                                <div [ngStyle]="banner.style" class="banner-image">
                                </div>
                            </a>
                        </div>
                    </owl-carousel>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="p-grid p-justify-between p-nogutter">
                <div class="p-col-3 p-sm-3 p-lg-1 category-wrapper" *ngFor="let category of bannerCategories">
                    <div class="category">
                        <img src="assets/devita/img/bc/{{category.icon}}">
                        <div class="title p-2 line-height-1.75">
                            {{category.label}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="cards">
                <div class="card" *ngFor="let category of bannerCategories">
                    <a routerLink="/pages/shop" routerLinkActive="active">
                        <div #boxcag class="card-preview">
                            <div class="category">
                                <img src="assets/devita/img/bc/{{category.icon}}">
                                <div class="title p-2 line-height-1.75">
                                    {{category.label}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
        </div>
    </section>
</div>