@import "src/@box/scss/box";

:host {

    #slider-banner {
        margin-top: 0.5em;

        @include media-breakpoint("xs") {
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    .sub-banner-wrapper {
        padding: 0 !important;

        .sub-banner {
            height: 100%;

            :first-child {
                padding-bottom: 0.5em !important;
            }
        }
    }


    .main-banner-wrapper {
        padding: 0 0 0 0.5em !important;

        @include media-breakpoint("xs") {
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    .sub-banner1 {
        background-image: url("/assets/images/banner/sub-banner1.jpg");
        width: auto;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .sub-banner2 {
        background-image: url("/assets/images/banner/sub-banner2.jpg");
        width: auto;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .owl-carouse img {
        width: 100%;
    }

    .banner2 {
        width: 100%;
    }

    .main-carousel {
        width: 100%;
    }

    .main-slider {
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom;
        // width: 100%;
        min-height: 235px;
    }

    .banner-thumb {
        position: relative;
        display: block;
    }

    .banner-thumb img {
        // height: 100%;
    }

    .main-banner {
        .right-nav-wrapper {
            position: absolute;
            // right: 0;
            top: 0px;
            padding: 5px 5px 0 0;
            z-index: 6;
            opacity: 0.9;

            .right-nav {
                float: right;
                margin-left: .5rem;
                position: relative;

                &.right-nav-fixed-width {
                    width: 296px;

                    .banner-img {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }

    .slider-wrapper {
        display: flex;
        flex-direction: column;
    }

    .content {
        .p-grid {
            background: white;

            .category {
                img {
                    padding: 15px 15px 2px 15px;
                    transform: scale(1);
                    transition: .5s;

                    @include media-breakpoint("lt-md") {
                        padding: 10px;
                    }
                }

                .title {
                    text-align: center;
                    font-size: 0.85em;
                }
            }

            .category-wrapper {
                cursor: pointer;

                &:hover {
                    .category {
                        img {
                            transform: scale(1.1);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }

        // .cards {
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     justify-content: flex-start;
        //     align-items: flex-start;
        //     background: white;

        //     .card {
        //         border: none;
        //         display: flex;
        //         align-items: flex-start;
        //         background: transparent;
        //         padding: 5px;

        //         flex: 0 0 12.5%;
        //         max-width: 12.5%;

        //         @include media-breakpoint("sm") {
        //             flex: 0 0 25%;
        //             max-width: 25%;
        //         }

        //         @include media-breakpoint("md") {
        //             flex: 0 0 25%;
        //             max-width: 25%;
        //         }

        //         @include media-breakpoint("xs") {
        //             flex: 0 0 25%;
        //             max-width: 25%;
        //         }

        //         .card-preview {
        //             display: flex;

        //             .category {
        //                 img {
        //                     padding: 35px 35px 15px 35px;
        //                     transform: scale(1);
        //                     transition: .5s;

        //                     @include media-breakpoint("lt-md") {
        //                         padding: 10px;
        //                     }
        //                 }

        //                 .title {
        //                     text-align: center;
        //                     font-size: 0.85em;
        //                 }
        //             }

        //             &:hover {
        //                 .category {
        //                     img {
        //                         transform: scale(1.1);
        //                         transition: all 0.5s ease;
        //                     }
        //                 }
        //             }
        //         }

        //         .card-source {
        //             display: none;
        //         }
        //     }
        // }
    }

    // .content {
    //     position: relative;
    //     z-index: 4;
    //     .cards {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         justify-content: flex-start;
    //         align-items: flex-start;

    //         .collection-slider .card {
    //             display: flex;
    //             align-items: flex-start;

    //             background-color: transparent;
    //             border: none;

    //             .card-source {
    //                 display: none;
    //             }

    //             > a {
    //                 .card-preview {
    //                     display: flex;
    //                     min-width: 130px;

    //                     @include media-breakpoint("xs") {
    //                         min-width: 125px;
    //                     }
    //                     .box-card {
    //                         box-shadow: none;
    //                         min-width: 130px !important;
    //                         max-width: 130px !important;

    //                         background: white;
    //                         border: none;

    //                         @include media-breakpoint("xs") {
    //                             min-width: 125px !important;
    //                             max-width: 125px !important;
    //                         }

    //                         &.cag {
    //                             img{
    //                                 padding: 35px 35px 15px 35px;
    //                             }
    //                             .title {
    //                                 text-align: center;
    //                                 font-size: 0.85em;
    //                             }
    //                         }
    //                     }
    //                 }
    //             }

    //             // > a:hover {
    //             //     .card-preview {
    //             //         .box-card {
    //             //             box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    //             //         }
    //             //     }
    //             // }
    //         }
    //     }
    // }
}