:host {
    .viwer-area {
        position: relative;
        z-index: 2;

        .viwer-title {
            align-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            position: relative;
            z-index: 2;

            .viwer-title-spacer {
                flex: 1 1 auto;                

                &.title {                    
                    text-transform: uppercase;
                    font-weight: 500;                    
                }
            }

            a {
                color: #f44336;
                font-weight: 400;

                i {
                    color: #f44336;
                    margin-left: 2px;
                }
            }
        }

        .viwer-body {
            .content {
                .cards {
                    .top-selling-slider .card {
                        border: none;
                        display: flex;
                        align-items: flex-start;
                        background: transparent;
                        padding: 5px;

                        .card-preview {
                            display: flex;
                            min-width: 185px;                            
                        }

                        .card-source {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}