<div class="viwer-area">
    <div class="container">
        <div class="viwer-title">
            <div class="viwer-title-spacer title">
                related products
            </div>
            <button mat-icon-button color="warn" (click)="onPrevClick($event);">
                <mat-icon aria-label="nav left">arrow_left</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onNextClick($event);">
                <mat-icon aria-label="nav right">arrow_right</mat-icon>
            </button>
        </div>
        <div class="viwer-body">
            <div class="content">
                <div class="cards">
                    <!-- <owl-carousel #owlRelatedProducts class="top-selling-slider" [options]="carousel.popular.options" [carouselClasses]="['owl-theme']">
                        <div class="card" *ngFor="let item of relatedItems | slice:0:10">
                            <a [routerLink]="['/pages/shop',item.id]" routerLinkActive="active">
                                <div #productcard class="card-preview">
                                    <product-card [stockItem]="item"></product-card>
                                </div>
                            </a>
                        </div>
                    </owl-carousel> -->
                </div>
            </div>
        </div>
    </div>
</div>