<div class="container">
  <div class="wrapper">
    <div class="seller-menubar">
      <p-menubar [model]="items">
        <div>
          <input type="text" pInputText placeholder="Search">
          <button pButton label="Search" icon="fa fa-search" style="margin-left:.25em"></button>
        </div>
      </p-menubar>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="seller-card-wrapper">
          <div class="seller-card">
            <div class="row">
              <div class="col-md-4">
                <div class="seller-logo">
                  <img src="assets/devita/img/bc/bc4.png">
                </div>

              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12 seller-name">example.com</div>
                  <div class="col-md-12 seller-desc">active</div>
                  <div class="col-md-12">
                    <div class="button-row">
                      <button pButton type="button" label="Follow Us" class="ui-button-secondary"></button>
                      <button pButton type="button" label="Chat" class="ui-button-secondary"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-8">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
              </tr>
              <tr>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
              </tr>
              <tr>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <seller-banner [bannerCategories]="bannerCategories" [carousel]="carousel"></seller-banner>

    <div class="row">
      <div class="col-md-12">
        <div class="viwer-wrapper">
          <div class="viwer-title">
            <div class="viwer-title-spacer title">
              xxx official store
            </div>
            <button mat-icon-button (click)="onPrevClick($event);">
              <mat-icon aria-label="nav left">arrow_left</mat-icon>
            </button>
            <button mat-icon-button (click)="onNextClick($event);">
              <mat-icon aria-label="nav right">arrow_right</mat-icon>
            </button>
          </div>
          <div class="viwer-body">
            <div class="content">
              <owl-carousel #owlSellerProduct [options]="options" [carouselClasses]="['owl-theme']">
                <div class="item-video" data-merge="1"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=JpxsRwnRwCQ"></a></div>
                <div class="item-video" data-merge="2"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=FBu_jxT1PkA"></a></div>
                <div class="item-video" data-merge="1"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=oy18DJwy5lI"></a></div>
                <div class="item-video" data-merge="2"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=H3jLkJrhHKQ"></a></div>
                <div class="item-video" data-merge="3"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=g3J4VxWIM6s"></a></div>
                <div class="item-video" data-merge="1"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=0fhoIate4qI"></a></div>
                <div class="item-video" data-merge="2"><a class="owl-video"
                    href="https://www.youtube.com/watch?v=EF_kj2ojZaE"></a></div>
              </owl-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>

    <promotional-products [products]="products" [carousel]="carousel"></promotional-products>

    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>

    <seller-products [products]="products"></seller-products>
  </div>

</div>
<!-- <div class="container">
  <div class="seller-banner">
    <div class="p-grid p-align-center banner-wrapper">
      <div class="p-col-12 p-md-4">
        <div class="banner-a background-img"></div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="banner-b background-img"></div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="p-grid">
          <div class="p-col-12 p-md-12">
            <div class="banner-c background-img"></div>
          </div>
          <div class="p-col-12 p-md-12">
            <div class="banner-d background-img"></div>
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <div class="banner-e background-img"></div>
      </div>
    </div>
  </div>

</div> -->