<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="seller-card-wrapper">
          <div class="seller-card">
            <div class="row">
              <div class="col-md-4">
                <div class="seller-logo">
                  <img src="assets/devita/img/bc/bc4.png">
                </div>

              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">example.com</div>
                  <div class="col-md-12">active</div>
                  <div class="col-md-12">
                    <div class="button-row">
                      <button pButton type="button" label="Follow Us" class="ui-button-secondary"></button>
                      <button pButton type="button" label="Chat" class="ui-button-secondary"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-8">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
              </tr>
              <tr>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
              </tr>
              <tr>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
                <td><i class="material-icons s-16">favorite</i><span>Followers :</span> <span>$190.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- <div class="container">
  <div class="seller-banner">
    <div class="p-grid p-align-center banner-wrapper">
      <div class="p-col-12 p-md-4">
        <div class="banner-a background-img"></div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="banner-b background-img"></div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="p-grid">
          <div class="p-col-12 p-md-12">
            <div class="banner-c background-img"></div>
          </div>
          <div class="p-col-12 p-md-12">
            <div class="banner-d background-img"></div>
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <div class="banner-e background-img"></div>
      </div>
    </div>
  </div>

</div> -->