:host {
    .wrapper {
        padding: 15px 0px;
    }

    .seller-card-wrapper {
        width: auto;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.12);

        .seller-card {
            padding: 5px;

            .seller-logo {
                padding: 0px 10px 10px 10px;
            }

            .button-row {
                margin-top: 10px;
                button:not(:first-child) {
                    margin-left: 5px;
                }
            }
        }
    }

    table {
        margin: 0 !important;

        tr {
            td {
                letter-spacing: 0.15rem;

                span {
                    font-weight: 400;
                    margin-left: 5px;
                }

                span:last-child {
                    color: #EE3741;
                }
            }
        }
    }

    .seller-banner {
        min-height: 500px;

        div {
            height: 100%;
        }

        .banner-wrapper {
            min-height: 400px;
        }

        .background-img {
            width: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .banner-a {
            background-image: url("/assets/devita/img/banner/banner5.jpg");
            height: 100%;
        }

        .banner-b {
            background-image: url("/assets/devita/img/banner/banner6.jpg");
            height: 100%;
        }

        .banner-c {
            background-image: url("/assets/devita/img/banner/sub-banner1.jpg");
            height: 150px;
        }

        .banner-d {
            background-image: url("/assets/devita/img/banner/sub-banner2.jpg");
            height: 150px;
        }

        .banner-e {
            background-image: url("/assets/devita/img/banner/banner-d.jpg");
            height: 220px;
        }
    }
}