#filter-price{
    .display-price{
        margin-top: 10px;
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;

        span:first-child{
            display: flex;
            flex: 1 1 auto;
        }

    }
}