<!-- price filter start here -->
<!-- <div id="filter-price">
    <h3>Price</h3>
    <p-slider [(ngModel)]="rangeValues" [min]="min" [max]="max" [range]="true" (onChange)="priceChanged($event)">
    </p-slider>
    <div class="display-price">
        <span>min: {{rangeValues[0]}}</span>
        <span>max: {{rangeValues[1]}}</span>
    </div>
</div> -->
<div class="collection-collapse-block open">
    <h3 class="collapse-block-title">price</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <div class="price-wrapper">
                <p-slider [(ngModel)]="rangeValues" [min]="price.minPrice" [max]="price.maxPrice" [range]="true"
                    (onChange)="priceChanged($event)">
                </p-slider>
                <div class="display-price">
                    <span>min: ${{rangeValues[0] | number}}</span>
                    <span>max: ${{rangeValues[1] | number}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="price_filter mt-10">
    <div class="horizontal-wrapper">
        <div class="horizontal-spacer">
            <span>min</span>
        </div>
        <mat-slider thumbLabel [displayWith]="formatLabel" min="100" max="1000" tickInterval="1000" (change)="priceChanged($event,true)">
        </mat-slider>
        <span>$1</span>
    </div>
    <div class="horizontal-wrapper">
        <div class="horizontal-spacer">
            <span>max</span>
        </div>
        <mat-slider thumbLabel [displayWith]="formatLabel" min="100" max="1000" invert="true" tickInterval="1000" (change)="priceChanged($event,false)">
        </mat-slider>
        <span>$1000</span>
    </div>
</div> -->