body {

    .search-wrapper .search-bar{
        width: 100%;

        >.ui-autocomplete{
            width: 100%;            
        }

        input{
            width: 100%;
            border: none !important;
            outline: none !important;
            line-height: inherit !important;
            color: #333333 !important;
        }

        .ui-autocomplete-panel{
            margin-top: 5px;
        }
    }

    .ui-dataview .ui-dataview-content {
        background-color: transparent !important;
    }

    .ui-tree {
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
    }

    .ui-breadcrumb {
        background-color: transparent;
        border: none;
    }

    .tree-wrapper {
        // .ui-tree {
        //     width: auto !important;
        // }

        .ui-widget {
            font-size: 12px;
        }
    }

    .ui-widget {
        font-family: inherit !important;
        font-size: inherit !important;
    }

    .ui-carousel {

        .ui-carousel-header{
            border: none;
            padding: 0.571em 0.571em;
        }

        .ui-carousel-viewport {
            background-color: transparent;
            border: none;
        }

        .ui-carousel-header .ui-carousel-header-title {
            // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            text-transform: uppercase;
            font-weight: 500;
        }

        .ui-carousel-page-links {
            display: none;
        }
    }
}