:host {
    .pro-dec-btn {
        > a:last-child {
            margin-left: 1px;
        }
    }

    .product-details-img{
        .gallery-zoom{
            align-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
            background: #ffffff;
            img{
                max-width: 570px !important;
                max-height: 570px !important;
            }
        }        
    }
    
    .pro-dec-categories > *{
        display: inline-block;
    }
}
