<div class="page-layout blank">
  <slider-banner [bannerCategories]="bannerCategories" [carousel]="carousel"></slider-banner>
  <product-category [categories]="categories" [carousel]="carousel"></product-category>
  <flash-deals [products]="products" [carousel]="carousel" eventDate="2019-07-28"></flash-deals>
  <brand-zone [brands]="brands"></brand-zone>
  <popular-products [products]="products" [carousel]="carousel"></popular-products>  
  <daily-discover [products]="products"></daily-discover>
  <product-banner></product-banner>
  <vertical-sliders [products]="products"></vertical-sliders>
  <product-logo></product-logo>
</div>