<div class="page-layout blank">
  <slider-banner [bannerCategories]="bannerCategories" [carousel]="carousel"></slider-banner>
  <product-category [categories]="categories" [carousel]="carousel"></product-category>
  <flash-deals [products]="products" [carousel]="carousel" eventDate="2020-01-01"></flash-deals>
  <brand-zone [brands]="brands"></brand-zone>
  <popular-products></popular-products>  
  <newly-added></newly-added>
  <product-banner></product-banner>
  <daily-discover [products]="products"></daily-discover>    
  <!-- <vertical-sliders [products]="products"></vertical-sliders> -->
  <!-- <product-logo></product-logo> -->
</div>