<input hidden type="file" accept="image/*" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
  [uploader]="uploader" (change)="fileInput.value=''" multiple />
<div class="review-image">
  <span>
    <!-- *ngIf="!productPhoto;else preview" -->
    <div class="image-upload-btn" (click)="fileInput.click()">
      <fa-icon icon="image" class="next-icon next-icon-add next-icon-medium upload-btn-icon"></fa-icon>
      <p class="upload-text">Upload Photo</p>
    </div>
    <!-- <ng-template #preview>
      <div class="image-preview">
        <a class="image-link" href="javascript:;">
          <img src="..." draggable="false">
        </a>
      </div>
    </ng-template> -->
  </span>
</div>